.cartProduct{
    display: flex;
    border: 1px dotted gray;
    justify-content: space-between;
    padding:5px;
    margin-bottom: 5px;
    
}

h1{
   
        color: #4b4b4b;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.4;
        margin: 16px 0 0;
}

.productName{
    margin-right: 10px;
}
.productQuantity{
    width: auto;
    margin-right: 5px;
}
.productQuantityText{
    width: 150px;
 
    border: 1px solid black;
}
    
.fa-shoppingCart{
 color: red;
}