@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.counterBody{
    display: flex;
    align-content: center;
    width:50px;
    height: 50px;
    background-color: wheat;
    border: 1px solid black;
}

.counterBody p{
    display: flex;
   height: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700 ;
}

.buttonsWrapper{
  display:flex;
  flex-direction: column;
     width: 20px;
    height: 40px;

}

.addCount p{
    height: 20px;
    background-color:red;
}

.counterBtns{
    width: 50px;
    height: 50px;
    background-color: red;
    
}

.fa-caret-up  {
    font-size: 20px;
     color: black;
      }

.fa-caret-up:hover  {
        cursor: pointer;
      }

 .fa-caret-down  {
    font-size: 20px;
     color: red;
 }
 .fa-caret-down:hover  {
    cursor: pointer;
 }