@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.counterWrapper{
    display: flex;
    width: 620px;
    background-color: rgb(255, 115, 0);
    padding: 5px;
    flex-direction: row;
    margin: 5px;
    
}
.counterBody{
    display: flex;
    width: 160px;
    height: 50px;
    flex-direction: row;
}

.counterElement{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  border:1px solid rgb(53, 53, 53);
  height: 50px;
  font-size: 25px;
  font-weight: 500;
 
}



 .fa-square-plus{
     width: 40px;
     height: 40px;
     color: white;
 }

 .fa-square-plus :hover{
    cursor: pointer;
    color: rgb(255, 174, 0);
}

 .fa-square-minus{
    
    width: 40px;
    height: 40px;
    color:white;
}

.fa-square-minus :hover{

    cursor: pointer;
    color: rgb(255, 174, 0);
}