@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*TAILWIND BG COLORS*/

.carditem{
    display: flex;
    flex-direction: row;
}
.cardBody{
    
    min-width: 280px;
    max-width: 100%;
    min-height: 400px;
    max-height: 500px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0px 20px 25px -10px rgba(0,0,0,0.5);
    cursor: pointer;
	transition: 0.3s all ease-in-out;
    border-radius: 20px;
}.card{
    border:none;
}
.cardBody:hover{
    box-shadow: 2px 2px 15px #563d7c;
	transform: translatey(10px)  ;
}

.cardInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 5px;
 
}
.cardTitle{
    min-width: 100%;
    padding: 2px 5px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-bottom: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cardTitle p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform:uppercase;
    color: black;
    
}
.cardInfoImg{
    min-width: 220px;
    max-width: 200px;
    min-height: 130px;
    max-height: 130px;

    
    
   
    }

.cardDescription{
    flex-direction: column;
    
}


.descriptionText {
    padding-top: 5px;   
    height: 120px;
    font-family: "Poppins", sans-serif;
    text-transform:uppercase;
    background-color: gray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
 
}

.descriptionText p {
    
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
.descriptionText ::marker{
    color:rgb(255, 174, 0);
}
.descriptionText li {
    text-transform: capitalize;
    color:white;
    float: left;
    font-size: 12px;
    line-height: 20px;
    margin-left: 15px;
    }
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted gray;
    flex-direction: row;
    
}
.basketWrapper {
    display: flex;
    flex-direction: row;
}
.cardExplore-btn  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 33px;
    white-space: nowrap;
    align-content: center;
    
    }
    .cardExplore-btn p{
        margin-top:15px;
        margin-left:5px;
        font-size: 12px;
        font-weight: 700;
        color:white;
    }
    
    .widget-shopping-icon  {
        font-size: 15px;
        margin-right: 5px;
        color: white;
       
     }

.detailLink{
    font-family: "Poppins", sans-serif;
    margin-left: 5px;
    height: 32px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px;
}

.combo-action{
    background-color: #c6ff00;
    color: #282828;
    font-size: .7em;
}
.combo-action:hover{
    background-color: #efefef
}

.fa-star{
    color:#fbc02d;
}
