@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


.sideBarFilter-body{
    display: flex;
    height: 700px;
    width: 400px;
    background-color: white;
}

.slideBarFilter-head{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
}
.sideBarFilter-title p{
    
    font-size: 30px;
    height: 100px;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
}
.sideBarFilter-icon{
    
}
.fa-sliders  {
    font-size: 25px;
    margin-right: 5px;
    color: black;
 }