@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


.menuBtn{
    background-color: red;
}

.navbar-brand h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: red;
    line-height: 20px;
}
