@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.cardBody{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 200px;
    background:  linear-gradient(277deg, rgba(36,4,0,1) 0%, rgba(0,255,231,1)   0%, rgba(121,9,79,1)100%);
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 1px inset red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-fluid{
 display: flex;
 width: autox;
 height: 180px;
 align-items: center;
 justify-items: center;
 justify-content: center;
 margin-right: 5px;
}

.cardImg img{
    
   
    margin-right: 5px;
    margin-left:5px
    
   }
.cardInfo{
    display: flex;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
    margin: 5px;
 
}
.cardTitle p{
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
    text-transform:uppercase;
    color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cardDescription h5{
    align-self: flex-end;
    flex: 1 1 auto;
    height: 80px;
    background-color: rgb(240, 233, 237);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-transform:uppercase;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.cardExplore-btn  {
    display: flex;
    flex-direction: row;
    height: 40px;
    white-space: nowrap;
    align-content: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: blue;
    }
    .cardExplore-btn p{
        margin-left:5px;
        font-size: 15px;
        font-weight: 700;
        color:white;
    }
    
    .btn-widget-shopping  {
        font-size: 20px;
        margin-right: 5px;
        color: white;
     }